* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.navbar {
    grid-column: 1/5;
    background-color: darkgray;
    margin-bottom: 15px;
}
.nav-items {
    display: flex;
    width: 30%;
    padding: 20px;
    list-style-type: none;
    justify-content: space-around;
}
.heading {
    display: flex;
    flex-direction: column;
    grid-column: 1/5;
    align-items: center;
    background-color: darkkhaki;
}
.main {
    display: grid;
    grid-column: 1/5;
    grid-template-columns: repeat(2, 50%);
}