* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    background-color: slategrey;
}

header {
    background-color: black;
    color: rgb(125, 195, 255);
    text-shadow: 1px 1px rgba(150, 165, 185, 0.75);
    text-align: center;
    margin-bottom: 10px;
    padding: 16px;
}
header h1 {
    margin-bottom: 12px;
}
header h4 {
    margin-bottom: 24px;
}
nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: auto;
}
nav a {
    padding: 12px;
    background-color:rgb(0, 123, 139);
    color: white;
    text-decoration: none;
    width: 7.5em;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px rgb(119, 119, 255);
}
.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 32px;
    height: 620px;
    width: 832px;
    padding: 16px;
    background: url("https://www.phcppros.com/ext/resources/DO-NOT-DELETE/Plumbing-Magic.jpg?t=1503588903&width=1080")
}
.homePage p {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}
.servicesPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin: auto;
    margin-top: 32px;
    background-color: aliceblue;
    width: 25%;
}
.contactPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    padding: 100px;
}