* {
    box-sizing: border-box;
}

.content-box {
    margin: auto;
    width: 90%;
}
.row {
    display: flex;
    flex-direction: row;
}
.row > div {
    display: block;
    padding: 100px;
    margin: 5px;
}
.l-pink {
    width: 100%;
    background-color: #F5C6D6;
}
.h-pink {
    width: 25%;
    background-color: #EE2E84;
}
.l-blue {
    width: 50%;
    background-color: #85CFD8;
}
.green {
    width: 75%;
    background-color: #8DC63F;
}
.orange {
    width: 25%;
    background-color: #E76E34;
}

@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .h-pink {
        width: 100%;
    }
    .l-blue {
        width: 100%;
    }
    .green {
        width: 100%;
    }
    .orange {
        width: 100%;
    }
}