<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="index.css" rel="stylesheet"/>
</head>
<body>
    <header class="header sizing">
        <h1>Header</h1>
    </header>
    <sidebar class="sidebar sizing">
        <h1>Sidebar</h1>
    </sidebar>
    <content class="content sizing">
        <h1>Content</h1>
    </content>
    <sidebar class="sidebar2 sizing">
        <h1>Sidebar2</h1>
    </sidebar>
    <footer class="footer sizing">
        <h1>Footer</h1>
    </footer>
</body>
</html>